<div class="blc_hero">
    <div class="container">
        <div class="hero">
            <h1 class="title">ECHTNICE IS STILL ON THE MOON</h1>
            <div class="entry">
                <p>
                    We are building the next generation of Blockchain solutions.
                    <br/>
                    Your global strategic partner in transforming traditional
                    finance with cryptoeconomics, digital assets and proprietary technology solutions.
                </p>
            </div>
            <div class="row call-to-action">
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn btn-default">Request a demo</a>
            </div>
        </div>
    </div>
</div>

