<div class="blc_why" id="service">
    <div class="container">
        <div class="heading">
            <div class="title">Our key competences</div>
            <div class="sub">
                Our blockchain and distributed-technology development services ensure full-cycle technical support for your ICO, from conceptual architectural and tokenization design, smart contracts, sidechain deployment and integration with public blockchain to website deployment and infrastructure maintenance for your product.
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p><strong>Blockchain Solutions </strong> <br/> Our goal is to help you select and deploy the right blockchain/DLT for your business model and to develop blockchain-based applications that are perfectly suited to your individual needs: </p>
            </div>
            <div class="col-md-4">
                <p><strong>MVP Development </strong> <br/>Instead of attempting to deploy a full-fledged product to the market, we want to test assumptions and build the proper business and technical requirements first:</p>
            </div>
            <div class="col-md-4">
                <p><strong>Smart Contracts </strong> <br/>
                    We will help you to deploy smart contracts with secure, resilient code and unit tests covering all stages:
                </p>
            </div>
        </div>
    </div>
</div>

