<div class="blc_why" id="team">
    <div class="container">
        <div class="heading">
            <div class="title">Team</div>
            <div class="sub">
                The ECHTNICE team is a group of experts with
                decades of experience in business and information technology areas.
                We work with state-of-the-art technologies and standard frameworks to achieve the best results for our clients.
            </div>
        </div>
    </div>
</div>