<div class="blc_feature" id="about">
    <div class="container">
        <div class="heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">About ECHTNICE</div>
                    <div class="sub">
                        ECHTNICE is a small, independent game development studio from Dortmund, Germany.
                        <br/><br/>
                        In cooperation with the Asure Foundation, the
                        ECHTNICE GmbH develops solutions for the insurance and
                        social security sector. The main research areas are
                        optimization of social security systems by means of Blockchain
                        technology in general and pension schemes based the
                        pay-as-you-go system in particular.
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="quote">
            <div class="row">
            </div>
        </div>
    </div>
</div>