<div class="blc_games" id="games">
    <div class="container">
        <div class="heading">
            <div class="title">Games</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                CAT JUMPER
            </div>
            <div class="col-md-3">
                GALAXY SPACE (in work)
            </div>
            <div class="col-md-3">
                Illegal Wars (in planing)
            </div>
            <div class="col-md-3">
                ...
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-3">
                <img src="img/client/31.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="img/client/37.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="img/client/38.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="img/client/40.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>