<div class="blc_hero">
    <div class="container">
        <div class="hero">
            <h1 class="title">ECHTNICE STUDIO</h1>
            <div class="entry">
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/echtnice_logo_white_empty_transparent.png" alt="ECHTNICE LOGO"
                             class="img img-fluid"/>
                    </div>
                    <div class="col-md-9">
                        <p>
                            ECHTNICE is a game studio based in Dortmund, Germany. ECHTNICE was founded in early 2018 by
                            Paul Mizel and Fabian Raetz. We create different games and attach great importance to the
                            best gaming experience, whether for PC or smartphone.
                            <br/><br/>
                            With the flexibility and willingness to adapt to the market, you never know what the next
                            ECHTNICE game could be - but you can be sure that it will blow your mind. Because at
                            ECHTNICE we breathe games.
                            <br/><br/>
                            They are now working hard to grow ECHTNICE Studios into an established games company.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row call-to-action hidden">
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn btn-default">Request a demo</a>
            </div>
        </div>
    </div>
</div>