<div class="blc_hero">
    <div class="container">
        <div class="hero">
            <h1 class="title">ECHTNICE STUDIO</h1>
            <div class="entry">
                <p>
                    ECHTNICE is a small, independent game development studio from Dortmund, Germany.
                    <br/><br/>
                    We are building the next generation games.
                </p>
            </div>
            <div class="row call-to-action hidden">
                <a href="#" class="btn btn-primary">Get Started</a>
                <a href="#" class="btn btn-default">Request a demo</a>
            </div>
        </div>
    </div>
</div>

