<div class="blc_why" id="service">
    <div class="container">
        <div class="heading">
            <div class="title">Key Values</div>
            <div class="sub justify">
                Since we have different favorite genres, we always follow different games and attach great importance to
                the best gaming experience whether for PC or mobile. With the flexibility and willingness to adapt to
                the market, you never know what the next ECHTNICE game could be - but we will be damn sure that it will
                blow your mind. Because at ECHTNICE we breathe games.
            </div>
        </div>
        <div class="row hidden">
            <div class="col-md-4">
                <p><strong>Blockchain Solutions </strong>
                    <br/> Our goal is to help you select and deploy the right blockchain/DLT for your business model and
                    to develop blockchain-based applications that are perfectly suited to your individual needs: </p>
                <ul>
                    <li>Business-process review</li>
                    <li>Technical architecture and infrastructure</li>
                    <li>Proof of concept creation</li>
                    <li>Full-Scale blockchain implementation</li>
                    <li>Substrate, Cosmos</li>
                </ul>


            </div>
            <div class="col-md-4">
                <p><strong>MVP Development </strong>
                    <br/>Instead of attempting to deploy a full-fledged product to the market, we want to test
                    assumptions and build the proper business and technical requirements first:</p>


                <ul>
                    <li>Technical feasibility of the project</li>
                    <li>Fully clickable prototype of your solution</li>
                    <li>Core operational workable blockchain modules</li>
                    <li>Rust, Go</li>
                </ul>

            </div>
            <div class="col-md-4">
                <p><strong>Smart Contracts </strong>
                    <br/>
                    We will help you to deploy smart contracts with secure, resilient code and unit tests covering all
                    stages:
                </p>

                <ul>
                    <li>Token generation event contracts based on ERC 20, ERC 223, ERC 721</li>
                    <li>Custom Smart Contracts on Ethereum, Cordano, Stellar, EOS, NEM</li>
                    <li>Tokenization of digital assets</li>
                    <li>Solidity, WASM</li>
                </ul>
            </div>
        </div>
    </div>
</div>

