<div class="blc_why" id="service">
    <div class="container">
        <div class="heading">
            <div class="title">Follow us</div>
            <div class="sub justify">
                <div class="social">
                    <a href="https://twitter.com/ECHTNICE" target="_blank" rel="noopener" alt="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://fb.me/ECHTNICE" target="_blank" rel="noopener" alt="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/echtnice_official/" target="_blank" rel="noopener" alt="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCRIEYIrIfjamNUqtwztuUHw?view_as=subscriber" target="_blank" rel="noopener" alt="youtube">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="https://www.github.com/ECHTNICE" target="_blank" rel="noopener" alt="github">
                        <i class="fa fa-github"></i>
                    </a>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>

