<div class="blc_team" id="team">
    <div class="container">
        <div class="heading">
            <div class="title">Team</div>
            <div class="sub justify">
                The ECHTNICE team is a group of experts with
                decades of experience in business and information technology areas.
                We work with state-of-the-art technologies and standard frameworks to achieve the best results.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            
            <div class="offset-md-2 col-md-8">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="team/paulmizel.jpg" alt="Paul Mizel">
                        <div class="card-body">
                            <h5 class="card-title">Paul Mizel</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Founder | Managing Director</h6>
                            <p class="card-text">
                                <strong class="text-block">Fun Facts</strong>
                                Paul is not stubborn, he is stable in opinion.
                                <strong class="text-block">Favourite Games</strong>
                                Near Automata 路 GTA 5 路 Shadow of the colossus
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="team/fabianraetz.jpg" alt="Fabian Raetz">

                        <div class="card-body">
                            <h5 class="card-title">Fabian Raetz</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Founder | Technical Director</h6>
                            <p class="card-text">
                            <strong class="text-block">Fun Facts</strong>
                            Fabian is beer lover and a late riser.
                            <strong class="text-block">Favourite Games</strong>
                            Warcraft 3 路 Star Craft 2 路 Call of Duty
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>