<div class="blc_why" id="team">
    <div class="container">
        <div class="heading">
            <div class="title">Team</div>
            <div class="sub justify">
                The ECHTNICE team is a group of experts with
                decades of experience in business and information technology areas.
                We work with state-of-the-art technologies and standard frameworks to achieve the best results.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>
            
            <div class="col-md-12">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="team/paulmizel.jpg" alt="Paul Mizel">
                        <div class="card-body">
                            <h5 class="card-title">Paul Mizel</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Founder | Managing Director</h6>
                            <p class="card-text">
                                <strong class="text-block">Fun Facts</strong>
                                Paul lived in Russia for over 14 years, which explains his way of thinking.

                                <strong class="text-block">Favourite Games</strong>
                                Near Automata · GTA 5 · Shadow of the colossus · Fortnite
                            </p>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="team/fabianraetz.jpg" alt="Fabian Raetz">

                        <div class="card-body">
                            <h5 class="card-title">Fabian Raetz</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Founder | Technical Director</h6>
                            <p class="card-text">
                            <strong class="text-block">Fun Facts</strong>
                            Loves beer. He is very irritable when he is well rested.

                            <strong class="text-block">Favourite Games</strong>
                            Warcraft 3 · Star Craft 2 · Call of Duty · Fortnite
                            </p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>