<div class="blc_why" id="team">
    <div class="container">
        <div class="heading">
            <div class="title">Team</div>
            <div class="sub justify">
                The ECHTNICE team is a group of experts with
                decades of experience in business and information technology areas.
                We work with state-of-the-art technologies and standard frameworks to achieve the best results.
            </div>

            <div class="row">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="team/paulmizel.jpg" alt="Paul Mizel" class="img figure-img img-fluid img-thumbnail rounded ">
                        <figcaption class="figure-caption">Paul Mizel</figcaption>
                    </figure>
                    
                </div>
                <div class="col-md-4">
                    <figure class="figure">
                        <img src="team/fabianraetz.jpg" alt="Fabian Raetz" class="img figure-img img-fluid img-thumbnail rounded">
                        <figcaption class="figure-caption">Fabian Raetz</figcaption>
                    </figure>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>