<div class="blc_team" id="team">
    <div class="container">
        <div class="heading">
            <div class="title" style="line-height: 1.2em">We work with state-of-the-art technologies and standard frameworks to achieve the best results.</div>
            <div class="sub justify">                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">&nbsp;</div>                    
        </div>
    </div>
</div>