.bloc-logo {
    position: relative;
    width: 309px;
    height: 300px;
    float: left;
}

.bloc-logo canvas,
.bloc-logo .logo-mask {
    display: block;
    width: 309px;
    height: 300px;
}

.bloc-logo .logo-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 310px;
    background-image: url("../img/logo-mask.png");
    text-indent: -9999px;
}

.bloc-logo-text {
    position: relative;
    width: 225px;
    height: 50px;
    float: left;
}

.bloc-logo-text canvas,
.bloc-logo-text .logo-text-mask {
    display: block;
    width: 225px;
    height: 50px;
}

.bloc-logo-text .logo-text-mask {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 225px;
    background-image: url("../img/logo-text-mask.png");
    text-indent: -9999px;
}
/*
  custom styles text
 */
 .shine-object {
    margin: auto;
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
  
    display: table;
    height: auto;
  
    color: #fcfcfc;
    text-transform: uppercase;
    text-align: right;
  
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  
    letter-spacing: -0.02em;
    line-height: 1.2em;
  }
  